/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*/@import url(https://fonts.googleapis.com/css?family=Heebo:400,800);


.select-box {
  cursor: pointer;
  position : relative;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 12px/2em 'Heebo', sans-serif;

}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  height: 34px;    
}

.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}